.products
    border: 1px solid #E6E6E6
    border-left: none
    width: 75.8%

.product 
    position: relative
    padding-top: 49px
    padding-bottom: 19px
    border-right: 1px solid #E6E6E6
    border-bottom: 1px solid #E6E6E6
    width: 280px
    text-align: center

.products_list
    display: flex
    flex-wrap: wrap

.product_img
    margin-bottom: 39px

.product_bonus-list
    position: absolute
    top: 13px
    left: 14px
    display: flex
    flex-wrap: wrap

.product_bonus-list li
    margin-right: 5px

.product_bonus-item
    display: inline-block
    font-size: 10px
    line-height: 12px
    text-align: center
    letter-spacing: 0.009em
    text-transform: uppercase
    color: #fff
    padding: 5px 20px
    border-radius: 50px   

.product_bonus-item.hit 
    background: #FD7272

.product_bonus-item.discount 
    background: #E67E22

.product_bonus-item.action 
    background: #27AE60

.product_favorite-link
    display: none 
    font-size: 12px
    line-height: 14px
    text-align: right
    letter-spacing: 0.009em
    color: #B3B3B3

.product_busket-btn 
    margin-bottom: 20px
    width: 240px
    height: 42px
    background: #C93E33
    border-radius: 4px

    font-weight: 500
    font-size: 15px
    line-height: 18px
    letter-spacing: 0.009em
    color: #fff

.product_busket-btn img
    margin-right: 10px

.product_busket-btn.more 
    background: #B3B3B3
    color: #000000

.product_gost
    margin-bottom: 20px
    margin-left: 20px
    width: 83px
    height: 20px
    background: #f9eceb

    font-size: 10px
    line-height: 20px
    text-align: center
    letter-spacing: 0.009em
    color: #C93E33

.product_description 
    padding: 0
    padding-right: 5px
    margin-left: 20px
    font-size: 18px
    line-height: 22px
    letter-spacing: 0.009em
    text-align: left

.product_price 
    font-weight: 700
    font-size: 15px
    line-height: 37px
    letter-spacing: 0.009em

.product_price-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 20px

.product_counter
    display: none

.product_counter-btn
    padding: 0 10px
    min-height: 35px
    border: 1px solid #E6E6E6
    background: #fff
    font-family: 'Fira Sans'
    font-style: normal
    font-weight: 400
    font-size: 15px
    line-height: 18px
    color: #000000

.product_counter-number
    width: 50px
    min-height: 35px
    border-top: 1px solid #E6E6E6
    border-bottom: 1px solid #E6E6E6
    background: #fff
    text-align: center
    font-family: 'Fira Sans'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 22px
    color: #000000

.product_form
    display: flex
    flex-direction: column
    align-items: flex-start

.product_form-input
    margin-bottom: 20px
    width: 50%
    padding: 17px 0
    padding-left: 3px
    border-bottom: 1px solid #B3B3B3

.product_form-input::placeholder 
    font-weight: 300
    font-size: 16px
    line-height: 18px
    letter-spacing: 0.009em

.product_form-title
    margin-bottom: 20px
    padding-left: 45px
    position: relative
    font-family: 'Fira Sans'
    font-style: normal
    font-weight: 500
    font-size: 30px
    line-height: 30px
    letter-spacing: 1px
    color: #000000

.product_form-button
    padding: 13px 60px
    margin-bottom: 12px
    background: #C93E33
    border-radius: 5px
    font-weight: 500
    font-size: 18px
    line-height: 22px
    letter-spacing: 0.009em
    color: #fff

.product_form-success, .product_form-error
    margin-bottom: 15px
    font-family: 'Fira Sans'
    font-style: normal
    font-weight: 500
    font-size: 15px

.product_form-success
    color: green

.product_form-error
    color: red

.product_form-back-link
    font-size: 15px
    line-height: 15px
    text-align: left
    letter-spacing: 0.009em
    color: blue

.product_btn-wrapper
    padding-top: 20px
    display: none
    background: #fff
    border-right: 1px solid #E6E6E6
    border-bottom: 1px solid #E6E6E6
    border-top: none
    z-index: 100

.product:hover 
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1)

.product:hover .product_counter
    display: flex

.product:hover .product_btn-wrapper
    width: 280px
    position: absolute
    bottom: -135px
    display: block
    box-shadow: 0px 12px 12px 4px rgba(0, 0, 0, 0.1)


    